<div class="dashboardPages">
<div class="dashbContentFlexH position-relative">

    <div class="bodyBgGradColor"></div>

    <div class="container-fluid">

        <div class="contentAreaBox">
            <div class="detailsScrollBarV">
<div>
    <div class="alert alert-success alertMsgSty" role="alert">
        <div class="d-flex justify-content-between align-items-center">
            <p>A simple success alert—check it out!</p>
            <div class="circleShortName">RB</div>
        </div>
    </div>
    <div class="alert alert-danger alertMsgSty" role="alert">
        <div class="d-flex justify-content-between align-items-center">
            <p>A simple danger alert—check it out!</p>
            <div class="circleShortName">RB</div>
        </div>
    </div>
    <div class="alert alert-warning alertMsgSty" role="alert">
        <div class="d-flex justify-content-between align-items-center">
            <p>A simple warning alert—check it out!</p>
            <div class="circleShortName">RB</div>
        </div>
    </div>
</div>

                
            </div>
        </div>

    </div>
</div>
</div>