<div class="dashbContentFlexH position-relative">

    <div class="bodyBgGradColor"></div>

    <div class="container-fluid">

        <div class="contentAreaBox">
            <div class="form-row">
                <div class="col-sm-12 col-md-9 col-lg-9">
                    <div class="searchBoxSty mb-2 mr-0">
                        <input type="text" placeholder="Search..">
                        <button type="button"><i class="fas fa-search"></i></button>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-3">
                    <form>
<div class="form-group">
                        <select class="form-control" id="exampleFormControlSelect1">
        <option selected>Select state</option>
        <option>Andhra Pradesh (999)</option>
        <option>Arunachal Pradesh (999)</option>
        <option>Assam (999)</option>
        <option>Bihar (999)</option>
        <option>Chhattisgarh (999)</option>
        <option>Goa (999)</option>
        <option>Gujarat (999)</option>
        <option>Haryana (999)</option>
        <option>Himachal Pradesh (999)</option>
        <option>Jammu and Kashmir (999)</option>
        <option>Jharkhand (999)</option>
        <option>Karnataka (999)</option>
        <option>Kerala (999)</option>
        <option>Madhya Pradesh (999)</option>
        <option>Maharashtra (999)</option>
        <option>Manipur (999)</option>
        <option>Meghalaya (999)</option>
        <option>Mizoram (999)</option>
        <option>Nagaland (999)</option>
        <option>Odisha (999)</option>
        <option>Punjab (999)</option>
        <option>Rajasthan (999)</option>
        <option>Sikkim (999)</option>
        <option>Tamil Nadu (999)</option>
        <option>Telangana (999)</option>
        <option>Tripura (999)</option>
        <option>Uttar Pradesh (999)</option>
        <option>Uttarakhand (999)</option>
        <option>West Bengal (999)</option>
                        </select>
                    </div>
                    </form>
                </div>
            </div>


            <div class="detailsScrollBarV liveAvailableTrucksMain">

<div class="tbaleListLivetTL">
<div class="tblLA">
<table>
                    <tr>
                        <td><i class="far fa-clock"></i> 00:16h</td>
                        <td><i class="far fa-calendar-alt"></i> 9 Apr</td>
                        <td><i class="fas fa-map-marker-alt"></i> Rajkot, GJ <i class="fas fa-long-arrow-alt-right"></i> Meerut, UP</td>
                        <td><i class="fas fa-truck"></i> Truck Close (20 ft)</td>
                        <td><i class="fas fa-dolly"></i> (Load - Full)</td>
                        <td><a href="#"><i class="fas fa-eye"></i> View</a></td>
                    </tr>
                    <tr>
                        <td><i class="far fa-clock"></i> 00:16h</td>
                        <td><i class="far fa-calendar-alt"></i> 9 Apr</td>
                        <td><i class="fas fa-map-marker-alt"></i> Rajkot, GJ <i class="fas fa-long-arrow-alt-right"></i> Meerut, UP</td>
                        <td><i class="fas fa-truck"></i> Truck Close (20 ft)</td>
                        <td><i class="fas fa-dolly"></i> (Load - Full)</td>
                        <td><a href="#"><i class="fas fa-eye"></i> View</a></td>
                    </tr>
                    <tr>
                        <td><i class="far fa-clock"></i> 00:16h</td>
                        <td><i class="far fa-calendar-alt"></i> 9 Apr</td>
                        <td><i class="fas fa-map-marker-alt"></i> Rajkot, GJ <i class="fas fa-long-arrow-alt-right"></i> Meerut, UP</td>
                        <td><i class="fas fa-truck"></i> Truck Close (20 ft)</td>
                        <td><i class="fas fa-dolly"></i> (Load - Full)</td>
                        <td><a href="#"><i class="fas fa-eye"></i> View</a></td>
                    </tr>
                </table>
</div>
</div>

            </div>
        </div>

    </div>
</div>
