<div class="faqPagMain">
<app-header-before-login></app-header-before-login>
<div class="faqBannerM position-relative">
    <div class="faqCityImg"></div>
</div>
<div class="mt-4">
    <div class="container">
<div class="accordion accordionSty mb-4" id="accordionExample">

  <div class="card">
    <div class="card-header" id="headingOne">
      <div class="d-flex justify-content-between align-items-center">
        <div>How do I request a booking?</div>
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><img src="assets/img/chevron-down.png" alt=""></button>
      </div>
    </div>
    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">Our booking system is a very simplified process. You can place an order online on our website or you can call our customer care number 88512 33547. Our system, then finds the nearest truck for you, and updates you via SMS or email.</div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingTwo">
      <div class="d-flex justify-content-between align-items-center">
        <div>How would I know my fare charges & bill amount?</div>
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo"><img src="assets/img/chevron-down.png" alt=""></button>
      </div>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">Once our system receives your booking, you will be notified of the approximate distance that your goods will travel, and accordingly your bill amount will be calculated. With our fare calculator, we instantaneously give you the best rate online.</div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <div class="d-flex justify-content-between align-items-center">
        <div>How do I pay for a booking? What are the different modes of payment offered by you?</div>
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree"><img src="assets/img/chevron-down.png" alt=""></button>
      </div>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
          <p>We accept all types of cards, so, you can easily make a payment online. We also have a cash based system which enables you to pay directly to our drivers transporting your consignment.</p>
          <p>In case of Advance booking customers have to pay 20% of total fare via NEFT/IMPS, For Current Booking customers have to pay 80% at the time of loading and 20% at the time of arrival before unloading</p>
      </div>
    </div>
  </div>

    <div class="card">
    <div class="card-header" id="headingfour">
      <div class="d-flex justify-content-between align-items-center">
        <div>How will I receive my invoice?</div>
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour"><img src="assets/img/chevron-down.png" alt=""></button>
      </div>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">You will receive an auto-generated invoice on your registered e-mail ID once the consignment has been delivered.</div>
    </div>
  </div>

    <div class="card">
    <div class="card-header" id="headingFive">
      <div class="d-flex justify-content-between align-items-center">
        <div>Can I place a booking with multi-point pick-up and drop?</div>
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive"><img src="assets/img/chevron-down.png" alt=""></button>
      </div>
    </div>
    <div id="collapseFive" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">You can definitely do so. However, extra costs for the extra point of delivery or pick-up will be levied accordingly. Our team will provide you with the additional cost incurred at the time of booking.</div>
    </div>
  </div>

    <div class="card">
    <div class="card-header" id="headingSix">
      <div class="d-flex justify-content-between align-items-center">
        <div>How can I cancel my booking? Will I be charged a cancellation fee?</div>
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix"><img src="assets/img/chevron-down.png" alt=""></button>
      </div>
    </div>
    <div id="collapseSix" class="collapse" aria-labelledby="collapseSix" data-parent="#accordionExample">
      <div class="card-body">Currently, you are required to raise a cancellation request through the customer care number available on our website. Cancellation will then be approved as per the terms and conditions. A cancellation fee would also be applicable.</div>
    </div>
  </div>


</div>
    </div>
</div>
<app-footer></app-footer>
</div>