<div class="headerMain">
<div class="container">
    <div class="navbar navbar-expand flex-column flex-md-row p-0">
        <div class="loginAndRegisBtn">
            <button type="button" class="btn btn-link loginBtn" data-toggle="modal" data-target="#loginPopup_id">Login</button>
            <button type="button" class="btn btn-link registerBtn" data-toggle="modal" data-target="#registerPopup_id">Register</button>
        </div>
        <div class="callUsTxt d-none d-md-block d-lg-block ml-md-5 ml-lg-5 mt-2">
            <label>Call Us Now: </label>
            <span>885-123-3547</span>
        </div>
        <ul class="nav flex-row d-none ml-md-auto d-md-flex socialIconTR">
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fab fa-twitter"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fab fa-facebook-f"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fab fa-instagram"></i></a>
            </li>
        </ul>
    </div>
</div>
</div>