<footer>
        <div class="quickLinkSec pb-2">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3" data-aos="fade-up" data-aos-duration="1800" data-aos-delay="50">
                        <h4 class="titlesSty mt-3 mb-3">Quick Links</h4>
                        <div class="mb-2">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link p-1" routerLink="/home">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link p-1" href="">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link p-1" routerLink="/faq">FAQ</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link p-1" routerLink="/contactUs">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-5 col-lg-5 col-xl-5" data-aos="fade-up" data-aos-duration="1800" data-aos-delay="150">
                        <h4 class="titlesSty mt-3 mb-3">Reach Us</h4>
                        <address class="addressTextSty mb-2">
                            <div class="d-flex">
                                <div class="d-inline-block mt-1 mr-3"><i class="fas fa-map-marker-alt"></i> </div>
                                <div class="d-inline-block"><strong>Shaurya Technosoft Pvt. Ltd.</strong> <br /> 694/1/2/4, Adarsh Nagar, Sahakar Bhavan, 2nd Floor, <br /> Hotel Utsav Chowk, Satara road, Pune-411037.</div>
                            </div>
                            <div class="d-flex mt-2">
                                <div class="d-inline-block mt-1 mr-1"><i class="fas fa-phone-alt mr-2"></i></div>
                                <div class="d-inline-block">+91 20 24261344</div>
                            </div>
                            <div class="d-flex mt-2">
                                <div class="d-inline-block mt-1 mr-1"><i class="fas fa-envelope mr-2"></i></div>
                                <div class="d-inline-block"><a href="mailto:info@shauryatechnosoft.com">info@shauryatechnosoft.com</a></div>
                            </div>
                        </address>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4" data-aos="fade-up" data-aos-duration="1800" data-aos-delay="200">
                        <div>
                            <div class="d-flex justify-content-md-end">
                                <h4 class="titlesSty mt-3 mb-3">Social Links</h4>
                            </div>
                        </div>
                        <ul class="nav flex-row ml-md-auto d-md-flex justify-content-md-end socialIconBR">
                            <li class="nav-item">
                                <a class="nav-link p-2" href="#"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link p-2" href="#"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link p-2" href="#"><i class="fab fa-instagram"></i></a>
                            </li>
                        </ul>
                        <div class="mt-3">
                            <div class="d-flex justify-content-center justify-content-md-end">
                                <div><img src="assets/img/googlePlayIcon.png" class="mx-auto widt115" alt="" /></div>
                                <div class="ml-2"><img src="assets/img/appStore.png" class="mx-auto widt115" alt="" /></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyRightSec pt-2 pb-2">
            <div class="container">
                <div class="d-flex flex-column flex-md-row flex-lg-row align-items-center justify-content-center justify-content-md-between">
                    <!-- <div><img src="assets/img/footerLogo.png" class="mx-auto widt115" alt="" /></div> -->
                    <div class="copyRightTxt">Copyright &copy; 2019 Rent Pe Truck</div>
                    <div class="termsPrivacyTxt">
                        <a href="#" class="d-inline-block">Terms of Use</a>
                        <a href="#" class="d-inline-block ml-3">Privacy Policy</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>