<div class="dashbContentFlexH position-relative">

    <div class="bodyBgGradColor"></div>

    <div class="container-fluid">

        <div class="contentAreaBox">
            <div class="form-row align-items-center mb-2">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <h1 class="pageTitleSty">Complaints</h1>
                </div>
                <div class="col-sm-12 col-md-5 col-lg-5">
                    <div class="searchBoxSty">
                        <input type="text" placeholder="Search..">
                        <button type="button"><i class="fas fa-search"></i></button>
                    </div>
                </div>
                <div class="col-sm-12 col-md-1 col-lg-1">
                    <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#newComplaint_id">Add</button>
                </div>
            </div>

            <div class="detailsScrollBarV"> 
                
<div class="cardSty availabelVehicleCardSty" [ngClass]="status ? 'open' : 'closeB'">

                                <div class="mainList">
                                    <div class="d-flex d-flex justify-content-between align-items-center parentAL">
                                        <div>
                                            <div class="d-flex availabelVehicleFSty">
                                                <div class="lblSpanSty">
                                                    <label>Complaint Id: </label>
                                                    <span>1556448</span>
                                                </div>
                                                <div class="lblSpanSty">
                                                    <label>Complainer: </label>
                                                    <span>Vinit Bhise</span>
                                                </div>
                                                <div class="lblSpanSty">
                                                    <label>Complaint Type: </label>
                                                    <span>Delay in delivery</span>
                                                </div>
                                                <div class="lblSpanSty">
                                                    <label>Date: </label>
                                                    <span>02/04/2019</span>
                                                </div>
                                                <div class="lblSpanSty">
                                                    <label>Status: </label>
                                                    <span>Open</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="btnIconStyDetails">
                                                <div>
                                                    <button type="button" class="btn btn-sm btn-outline-primary mr-2"><i class="fas fa-comment"></i></button>
                                                    <button (click)="clickEvent()" class="btn btn-sm btn-outline-primary buttonArrowAV"><i class="fas fa-angle-down"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <ul class="subListAV">
                                        <li>
                                            <p class="m-0 mb-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ut eros sit amet dui sagittis scelerisque non et urna. Morbi sollicitudin pellentesque hendrerit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ut eros sit amet dui sagittis scelerisque non et urna. Morbi sollicitudin pellentesque hendrerit.</p>
                                        </li>
                                    </ul>

                                </div>

                            </div>  


<!-- <app-complaint-chat></app-complaint-chat> -->



            </div>
        </div>

    </div>
</div>


<!-- Modal -->
<div class="modal fade" data-backdrop="static" id="newComplaint_id" tabindex="-1" role="dialog" aria-labelledby="newComplaint_idTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newComplaint_idTitle">New Complaint</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <form>
                        <div>
                            <div class="form-group">
                                <label for="typeComplaint_id">Type of Complaint</label>
                                <select class="form-control" id="typeComplaint_id">
                                    <option>Select</option>
                                    <option>Complaint 1</option>
                                    <option>Complaint 2</option>
                                    <option>Complaint 3</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="description">Description</label>
                                <textarea class="form-control" id="description" rows="4"></textarea>
                            </div>

                        </div>

                    </form>                    
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Send</button>
            </div>
        </div>
    </div>
</div>
