<div class="dashboardPages">
<div class="dashbContentFlexH position-relative">

    <div class="bodyBgGradColor"></div>

    <div class="container-fluid">

        <div class="contentAreaBox">

            <div class="form-row align-items-center mb-2 minheight41Sty">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <h1 class="pageTitleSty">All Status</h1>
                </div>
            </div>


<ul class="nav nav-pills pl-3 pr-3 tabNavSty" id="pills-tab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="pills-registerVehicle-tab" data-toggle="pill" href="#pills-registerVehicle" role="tab" aria-controls="pills-registerVehicle" aria-selected="true">Register Vehicle</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-availableVehicle-tab" data-toggle="pill" href="#pills-availableVehicle" role="tab" aria-controls="pills-availableVehicle" aria-selected="false">Available Vehicle</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-todaysBooking-tab" data-toggle="pill" href="#pills-todaysBooking" role="tab" aria-controls="pills-todaysBooking" aria-selected="false">Today's Booking</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-sendMaterial-tab" data-toggle="pill" href="#pills-sendMaterial" role="tab" aria-controls="pills-sendMaterial" aria-selected="false">Send Material</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-registerDrivers-tab" data-toggle="pill" href="#pills-registerDrivers" role="tab" aria-controls="pills-registerDrivers" aria-selected="false">Register Drivers</a>
  </li>
</ul>
<div class="tab-content pl-3 pr-3 pt-3 pb-1 tabContentSty" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-registerVehicle" role="tabpanel" aria-labelledby="pills-registerVehicle-tab">
      <div>
            <div class="form-row align-items-center mb-2 minheight41Sty">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="searchBoxSty">
                        <input type="text" placeholder="Search..">
                        <button type="button"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>


            <div class="detailsScrollBarV">
                <div class="cardSty availabelVehicleCardSty open">

                    <div class="mainList">
                        <div class="d-flex d-flex justify-content-between align-items-center padding10">
                            <div>
                                <div class="d-flex availabelVehicleFSty">
                                    <div class="lblSpanSty">
                                        <span class="pl-0">Tata Ace (1 Ton)</span>
                                    </div>
                                    <div class="lblSpanSty">
                                        <label>Vehicle Number: </label>
                                        <span>MH12 AB 1111</span>
                                    </div>
                                    <div class="lblSpanSty">
                                        <label>Chassis Number: </label>
                                        <span>NA</span>
                                    </div>
                                    <div class="lblSpanSty">
                                        <label>Engine Number: </label>
                                        <span>NA</span>
                                    </div>
                                    <div class="lblSpanSty">
                                        <label>Model Number: </label>
                                        <span>NA</span>
                                    </div>
                                    <div class="lblSpanSty">
                                        <label>Manufacturing Year: </label>
                                        <span>NA</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>


                <div class="cardSty availabelVehicleCardSty open">

                    <div class="mainList">
                        <div class="d-flex d-flex justify-content-between align-items-center padding10">
                            <div>
                                <div class="d-flex availabelVehicleFSty">
                                    <div class="lblSpanSty">
                                        <span class="pl-0">Tata Ace (1 Ton)</span>
                                    </div>
                                    <div class="lblSpanSty">
                                        <label>Vehicle Number: </label>
                                        <span>MH12 AB 1111</span>
                                    </div>
                                    <div class="lblSpanSty">
                                        <label>Chassis Number: </label>
                                        <span>NA</span>
                                    </div>
                                    <div class="lblSpanSty">
                                        <label>Engine Number: </label>
                                        <span>NA</span>
                                    </div>
                                    <div class="lblSpanSty">
                                        <label>Model Number: </label>
                                        <span>NA</span>
                                    </div>
                                    <div class="lblSpanSty">
                                        <label>Manufacturing Year: </label>
                                        <span>NA</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>





            </div>

            <nav aria-label="Page navigation">
                <div class="justify-content-center example d-flex align-items-baseline">
                    <div class="mr-2">Total - 120</div>
                    <ul class="pagination">
                        <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1"
                                aria-disabled="true">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item active" aria-current="page"><a class="page-link" href="#">2 <span
                                    class="sr-only">(current)</span></a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </div>
            </nav>

        
      </div>
  </div>
  <div class="tab-pane fade" id="pills-availableVehicle" role="tabpanel" aria-labelledby="pills-availableVehicle-tab">
      <div>
            <div class="form-row align-items-center mb-2 minheight41Sty">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="searchBoxSty">
                        <input type="text" placeholder="Search..">
                        <button type="button"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>

            <div class="detailsScrollBarV">
                <div class="cardSty availabelVehicleCardSty" [ngClass]="status ? 'open' : 'closeB'">

                    <div class="mainList">
                        <div class="d-flex d-flex justify-content-between align-items-center parentAL">
                            <div>
                                <div class="d-flex availabelVehicleFSty">
                                    <div class="lblSpanSty">
                                        <span class="pl-0">Pune to Kolhapur</span>
                                    </div>
                                    <div class="lblSpanSty">
                                        <label>Vehicle Number: </label>
                                        <span>MH12 AB 1111</span>
                                    </div>
                                    <div class="lblSpanSty">
                                        <label>Date: </label>
                                        <span>18/09/2019</span>
                                    </div>
                                    <div class="lblSpanSty">
                                        <label>Time: </label>
                                        <span>11:40 AM</span>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="btnIconStyDetails">
                                    <div>
                                        <div class="countStyAV"><p>2</p></div>
                                        <button (click)="clickEvent()" class="btn btn-sm btn-outline-primary buttonArrowAV"><i class="fas fa-angle-down"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <ul class="subListAV">
                            <li>
                                <div class="d-flex d-flex justify-content-between align-items-center">
                                    <div>
                                        <div class="d-flex availabelVehicleFSty">
                                            <div class="lblSpanSty">
                                                <span class="pl-0">Pune to Kolhapur</span>
                                            </div>
                                            <div class="lblSpanSty">
                                                <label>Vehicle Number: </label>
                                                <span>MH12 AB 1111</span>
                                            </div>
                                            <div class="lblSpanSty">
                                                <label>Date: </label>
                                                <span>18/09/2019</span>
                                            </div>
                                            <div class="lblSpanSty">
                                                <label>Time: </label>
                                                <span>11:40 AM</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </li>
                            <li>
                                <div class="d-flex d-flex justify-content-between align-items-center">
                                    <div>
                                        <div class="d-flex availabelVehicleFSty">
                                            <div class="lblSpanSty">
                                                <span class="pl-0">Pune to Kolhapur</span>
                                            </div>
                                            <div class="lblSpanSty">
                                                <label>Vehicle Number: </label>
                                                <span>MH12 AB 1111</span>
                                            </div>
                                            <div class="lblSpanSty">
                                                <label>Date: </label>
                                                <span>18/09/2019</span>
                                            </div>
                                            <div class="lblSpanSty">
                                                <label>Time: </label>
                                                <span>11:40 AM</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </li>
                        </ul>

                    </div>

                </div>

                
            </div>
      </div>
  </div>
  <div class="tab-pane fade" id="pills-todaysBooking" role="tabpanel" aria-labelledby="pills-todaysBooking-tab"><p>Coming Soon</p></div>
  <div class="tab-pane fade" id="pills-sendMaterial" role="tabpanel" aria-labelledby="pills-sendMaterial-tab">
      <div>

            <div class="form-row align-items-center mb-2 minheight41Sty">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="searchBoxSty">
                        <input type="text" placeholder="Search..">
                        <button type="button"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>

        <div class="card mt-2 mb-3 border border-danger text-center d-none">
            <div class="card-body">
                <h5 class="card-title">Sorry no result found</h5>
                <p class="card-text">Would you like post your load?</p>
                <button type="button" class="btn btn-secondary mr-2">No</button>
                <button type="button" class="btn btn-primary">Yes</button>
            </div>
        </div>

            <div class="detailsScrollBarV">
                <div class="cardSty availabelVehicleCardSty" [ngClass]="status ? 'open' : 'closeB'">

                    <div class="mainList">
                        <div class="d-flex d-flex justify-content-between align-items-center parentAL">
                            <div>
                                <div class="d-flex availabelVehicleFSty">
                                    <div class="lblSpanSty">
                                        <span class="ml-0">Pune to Kolhapur</span>
                                    </div>
                                    <div class="lblSpanSty">
                                        <label>Date: </label>
                                        <span>18/09/2019</span>
                                    </div>
                                    <div class="lblSpanSty">
                                        <label>Time: </label>
                                        <span>11:40 AM</span>
                                    </div>
                                    <div class="lblSpanSty">
                                        <label>Type: </label>
                                        <span>Tata SFC 709 EX</span>
                                    </div>
                                    <div class="lblSpanSty">
                                        <label>Load: </label>
                                        <span>2 Ton</span>
                                    </div>
                                    <div class="lblSpanSty">
                                        <label>Status: </label>
                                        <span>Partial</span>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="btnIconStyDetails">
                                    <div>
                                        <button (click)="clickEvent()" class="btn btn-sm btn-outline-primary buttonArrowAV"><i class="fas fa-angle-down"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <ul class="subListAV">
                            <li class="border-0">
                                <div class="d-flex d-flex justify-content-between align-items-center">
                                    <div>
                                        <div class="d-flex availabelVehicleFSty">
                                            <div class="lblSpanSty">
                                                <label>Distance: </label>
                                                <span>220km</span>
                                            </div>
                                            <div class="lblSpanSty">
                                                <label>Rate: </label>
                                                <span>50</span>
                                            </div>
                                            <div class="lblSpanSty">
                                                <label>Quotation Amount: </label>
                                                <span>10,000</span>
                                            </div>
                                            <div class="lblSpanSty">
                                                <label>Name: </label>
                                                <span>Transporter</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>

                        </ul>

                    </div>

                </div>




            </div>
      </div>
  </div>
  <div class="tab-pane fade" id="pills-registerDrivers" role="tabpanel" aria-labelledby="pills-registerDrivers-tab">
<div>

            <div class="form-row align-items-center mb-2 minheight41Sty">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="searchBoxSty">
                        <input type="text" placeholder="Search..">
                        <button type="button"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>

<div class="detailsScrollBarV">
                <div class="cardSty availabelVehicleCardSty" [ngClass]="status ? 'open' : 'closeB'">

                    <div class="mainList">
                        <div class="d-flex d-flex justify-content-between align-items-center parentAL">
                            <div>
                                <div class="d-flex availabelVehicleFSty">
                                    <div class="lblSpanSty">
                                        <label>Driver Name: </label>
                                        <span>Ram Singh</span>
                                    </div>
                                    <div class="lblSpanSty">
                                        <label>Mobile Number: </label>
                                        <span>9645804688</span>
                                    </div>
                                    <div class="lblSpanSty">
                                        <label>Licence Number: </label>
                                        <span>NA</span>
                                    </div>
                                    <div class="lblSpanSty">
                                        <label>Aadhar Card Number: </label>
                                        <span>NA</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>


            </div>

<nav aria-label="Page navigation">
    <div class="justify-content-center example d-flex align-items-baseline">
        <div class="mr-2">Total - 120</div>
        <ul class="pagination">
            <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active" aria-current="page"><a class="page-link" href="#">2 <span class="sr-only">(current)</span></a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </div>
</nav>

</div>
  </div>
</div>



            
        </div>

    </div>
</div>
</div>