<div class="faqPagMain">
<app-header-before-login></app-header-before-login>

<div class="formAndMapmain">
            <div class="container">
                <div class="pt-4 pb-4">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <div class="pb-3">
                                <h4 class="siteBlueColor">Contact Info</h4>
                                <address class="addressTextSty mb-2">
                                    <div class="d-flex">
                                        <div class="d-inline-block mt-1 mr-3"><i class="fas fa-map-marker-alt"></i> </div>
                                        <div class="d-inline-block">Shaurya Technosoft Pvt. Ltd. <br /> 694/1/2/4, Adarsh Nagar, Sahakar Bhavan, 2nd Floor, <br /> Hotel Utsav Chowk, Satara road, Pune-411037.</div>
                                    </div>
                                    <div class="d-flex mt-2">
                                        <div class="d-inline-block mt-1 mr-1"><i class="fas fa-phone-alt mr-2"></i></div>
                                        <div class="d-inline-block">+91 20 24261344</div>
                                    </div>
                                    <div class="d-flex mt-2">
                                        <div class="d-inline-block mt-1 mr-1"><i class="fas fa-envelope mr-2"></i></div>
                                        <div class="d-inline-block"><a href="mailto:info@shauryatechnosoft.com">info@shauryatechnosoft.com</a></div>
                                    </div>
                                </address>
                            </div>
                            <form>
                                <h4 class="siteBlueColor">Contact Form</h4>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="inputName_id">Name</label>
                                        <input type="text" class="form-control" id="inputName_id" placeholder="Name" />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputMobileNum_id">Mobile Number</label>
                                        <input type="number" class="form-control" id="inputMobileNum_id" placeholder="Mobile Number" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputAddress">Email</label>
                                    <input type="email" class="form-control" id="inputEmail_id" placeholder="Email" />
                                </div>
                                <div class="form-group">
                                    <label for="address_id">Message</label>
                                    <textarea class="form-control" id="address_id" rows="3" placeholder="Message"></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary btn-grad bgGradColor sendBtnSty pl-5 pr-5">Send</button>
                            </form>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <div>
                                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15135.483111426434!2d73.8577648!3d18.4895116!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb68adb697c096dcd!2sShaurya%20Technosoft%20Pvt.%20Ltd.!5e0!3m2!1sen!2sin!4v1571030438435!5m2!1sen!2sin" width="525" height="470" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<app-footer></app-footer>
</div>