<div class="dashboardPages">
<div class="dashbContentFlexH position-relative">

    <div class="bodyBgGradColor"></div>

    <div class="container-fluid">

        <div class="contentAreaBox">
            <div class="form-row">
                <div class="col-sm-11 col-md-11 col-lg-11">
                    <div class="searchBoxSty mb-2">
                        <input type="text" placeholder="Search..">
                        <button type="button"><i class="fas fa-search"></i></button>
                    </div>
                </div>
                <div class="col-sm-1 col-md-1 col-lg-1">
                    <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#searchVehicle_id">Add</button>
                </div>
            </div>

            <div class="detailsScrollBarV">
                <div class="cardSty" [ngClass]="status ? 'open' : 'closeB'">
                    <div class="buttonArrow" (click)="clickEvent()"><i class="fas fa-angle-down"></i></div>
                    <div>
                        <div class="d-flex flex-wrap">
                            <div class="lblSpanSty">
                                <label>From: </label>
                                <span>Pune</span>
                            </div>
                            <div class="lblSpanSty">
                                <label>To: </label>
                                <span>Kolhapur</span>
                            </div>
                            <div class="lblSpanSty">
                                <label>Date: </label>
                                <span>18/09/2019</span>
                            </div>
                            <div class="lblSpanSty">
                                <label>Type: </label>
                                <span>test</span>
                            </div>
                            <div class="lblSpanSty">
                                <label>Load: </label>
                                <span>Test</span>
                            </div>
                            <div class="lblSpanSty">
                                <label>Load Status: </label>
                                <span>Full</span>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="d-flex justify-content-end mt-2 btnIconStyDetails">
                            <div>
                                <button type="button" class="btn btn-sm btn-outline-info mr-2"><i class="fas fa-pen"></i></button>
                                <button type="button" class="btn btn-sm btn-outline-danger"><i class="fas fa-trash-alt"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
</div>

<!-- Modal -->
<div class="modal fade" data-backdrop="static" id="searchVehicle_id" tabindex="-1" role="dialog" aria-labelledby="searchVehicle_idTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="searchVehicle_idTitle">Search Vehicle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div>
                    <form>
                        <div>
                            <div class="row">
                                <div class="col-sm-12 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label for="fromAV_id">From</label>
                                        <input type="text" class="form-control" id="fromAV_id" placeholder="Pune" />
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label for="toAV_id">To</label>
                                        <input type="text" class="form-control" id="toAV_id" placeholder="Kolhapur" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label for="bookingAV_id">Date</label>
                                        <input type="text" class="form-control" id="bookingAV_id" placeholder="dd/mm/yyyy" />
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label for="exampleFormControlSelect1">Type</label>
                                        <select class="form-control" id="exampleFormControlSelect1">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label for="load_id">Load</label>
                                        <input type="text" class="form-control" id="load_id" placeholder="Load" />
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label>Load Status</label>
                                        <div class="d-flex justify-content-start">
                                            <div class="form-group custom-control custom-radio my-1 mr-sm-4">
                                                <input type="radio" class="custom-control-input" name="lsFullPartial" id="lsFull_id">
                                                <label class="custom-control-label" for="lsFull_id">Full</label>
                                            </div>
                                            <div class="form-group custom-control custom-radio my-1 mr-sm-2">
                                                <input type="radio" class="custom-control-input" name="lsFullPartial" id="lsPartial_id">
                                                <label class="custom-control-label" for="lsPartial_id">Partial</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Search</button>
            </div>
        </div>
    </div>
</div>