<div class="dashbContentFlexH position-relative">

    <div class="bodyBgGradColor"></div>

    <div class="container-fluid">

        <div class="contentAreaBox">

            <div class="form-row align-items-center mb-2 minheight41Sty">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <h1 class="pageTitleSty">Register Driver</h1>
                </div>
                <div class="col-sm-12 col-md-5 col-lg-5">
                    <div class="searchBoxSty">
                        <input type="text" placeholder="Search..">
                        <button type="button"><i class="fas fa-search"></i></button>
                    </div>
                </div>
                <div class="col-sm-12 col-md-1 col-lg-1">
                    <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#registerDriver_id">Add</button>
                </div>
            </div>

<div class="detailsScrollBarV">
                <div class="cardSty availabelVehicleCardSty" [ngClass]="status ? 'open' : 'closeB'">

                    <div class="mainList">
                        <div class="d-flex d-flex justify-content-between align-items-center parentAL">
                            <div>
                                <div class="d-flex availabelVehicleFSty">
                                    <div class="lblSpanSty">
                                        <label>Driver Name: </label>
                                        <span>Ram Singh</span>
                                    </div>
                                    <div class="lblSpanSty">
                                        <label>Mobile Number: </label>
                                        <span>9645804688</span>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="btnIconStyDetails">
                                    <div>
                                        <button type="button" class="btn btn-sm btn-outline-primary mr-2"><i class="fas fa-phone-alt"></i></button>
                                        <button type="button" class="btn btn-sm btn-outline-primary mr-2"><i class="fab fa-whatsapp"></i></button>
                                        <button type="button" class="btn btn-sm btn-outline-primary mr-2"><i class="far fa-envelope"></i></button>
                                        <button type="button" class="btn btn-sm btn-outline-info mr-2"><i class="fas fa-pen"></i></button>
                                        <button type="button" class="btn btn-sm btn-outline-danger"><i class="fas fa-trash-alt"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>


            </div>

<nav aria-label="Page navigation">
    <div class="justify-content-center example d-flex align-items-baseline">
        <div class="mr-2">Total - 120</div>
        <ul class="pagination">
            <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active" aria-current="page"><a class="page-link" href="#">2 <span class="sr-only">(current)</span></a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </div>
</nav>

        </div>

    </div>
</div>


<!-- Modal -->
<div class="modal fade" data-backdrop="static" id="registerDriver_id" tabindex="-1" role="dialog" aria-labelledby="registerDriver_idTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="registerDriver_idTitle">Register Driver</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
<div>
            <form>
                <div>
                    <div class="form-group">
                        <label for="driverName_id">Driver Name</label>
                        <input type="text" class="form-control" id="driverName_id" placeholder="Driver Name" />
                    </div>

                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label for="mobileNumber_id">Mobile Number</label>
                                <input type="number" class="form-control" id="mobileNumber_id"
                                    placeholder="Mobile Number" />
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label for="alternateMobileNumber_id">Alternate Mobile Number</label>
                                <input type="number" class="form-control" id="alternateMobileNumber_id"
                                    placeholder="Alternate Mobile Number" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label for="aadharCardNumber_id">Aadhar Card Number</label>
                                <input type="text" class="form-control" id="aadharCardNumber_id"
                                    placeholder="8626 0001 6406" />
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label for="aadharCardNumber_id">Driving Licence Number</label>
                                <input type="text" class="form-control" id="aadharCardNumber_id"
                                    placeholder="MH19 20090021838" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="rdAddress_id">Address</label>
                        <textarea class="form-control" id="rdAddress_id" rows="2"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="aadharCardNumber_id">Upload KYC Documents</label>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="validatedCustomFile" required>
                            <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
                            <div class="invalid-feedback">Example invalid custom file feedback</div>
                        </div>
                    </div>

                </div>
            </form>
        </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Register</button>
            </div>
        </div>
    </div>
</div>
