<div class="dashbContentFlexH position-relative">
  <div class="bodyBgGradColor"></div>
  <div class="container-fluid">
    <div class="contentAreaBox">
      <div class="form-row">
        <div class="col-sm-9 col-md-9 col-lg-9">
          <div class="searchBoxSty mb-2">
            <input type="text" placeholder="Search..">
            <button type="button"><i class="fas fa-search"></i></button>
          </div>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3">
          <div class="d-flex justify-content-end">
            <div><button type="button" class="btn btn-primary" (click)="onCompanyReg()">Add Company</button></div>
            <div class="ml-2"><button type="button" class="btn btn-primary" (click)="onBranchReg()">Add Branch</button></div>
          </div>
        </div>
      </div>
      <div class="detailsScrollBarV">
        <div class="cardSty availabelVehicleCardSty" [ngClass]="status ? 'open' : 'closeB'">
          <div class="mainList">
            <div class="d-flex d-flex justify-content-between align-items-center parentAL">
              <div>
                <div class="d-flex availabelVehicleFSty">
                  <div class="lblSpanSty">
                    <label>Company Name: </label>
                    <span>Shaurya Technosoft Pvt. Ltd.</span>
                  </div>
                  <div class="lblSpanSty">
                    <label>Mobile Number: </label>
                    <span>+91 9604601273</span>
                  </div>
                  <div class="lblSpanSty">
                    <label>Email Id: </label>
                    <span>vinit.bhise@shauryatechnosoft.com</span>
                  </div>
                  <div class="lblSpanSty">
                    <label>PAN: </label>
                    <span>4754545848</span>
                  </div>
                  <div class="lblSpanSty">
                    <label>GST: </label>
                    <span>18%</span>
                  </div>
                </div>
              </div>
              <div>
                <div class="btnIconStyDetails">
                  <div>
                    <button class="btn btn-sm btn-outline-primary buttonArrowAV"><i class="fas fa-angle-down"></i></button>
                  </div>
                </div>
              </div>
            </div>
            <ul class="subListAV">
              <li>
                <div class="d-flex availabelVehicleFSty">
                  <div class="lblSpanSty">
                    <label>Preferences: </label>
                    <span>NA</span>
                  </div>
                </div>
                <div class="d-flex availabelVehicleFSty">
                  <div class="lblSpanSty">
                    <label>Conpany Address: </label>
                    <span>694/1/2/4, Sahakar Bhavan, 2nd Floor, Adarsh Nagar, Hotel Utsav Chowk, Near City-Pride Cinema, Pune-Satara road, Pune-411037,</span>
                  </div>
                </div>
                <div class="branchesSecMain">
                  <h6 class="allBranchesTitle">All Branches</h6>
                  <div class="d-flex flex-wrap justify-content-start">
                    <div class="card m-1">
                      <div class="card-body">
                        <h6 class="card-subtitle mb-2">Shaurya Finance Pvt. Ltd.</h6>
                        <p class="card-text">Bavdhan Pune</p>
                        <a href="#" class="card-link">Edit</a>
                        <a href="#" class="card-link">Remove</a>
                      </div>
                    </div>
                    <div class="card m-1">
                      <div class="card-body">
                        <h6 class="card-subtitle mb-2">Shaurya Electronic Shopping Store.</h6>
                        <p class="card-text">Senapati bapat road</p>
                        <a href="#" class="card-link">Edit</a>
                        <a href="#" class="card-link">Remove</a>
                      </div>
                    </div>
                    <div class="card m-1">
                      <div class="card-body">
                        <h6 class="card-subtitle mb-2">Shaurya Petroleum</h6>
                        <p class="card-text">Hinjewadi Phase 3</p>
                        <a href="#" class="card-link">Edit</a>
                        <a href="#" class="card-link">Remove</a>
                      </div>
                    </div>
                    <div class="card m-1">
                      <div class="card-body">
                        <h6 class="card-subtitle mb-2">Shaurya Studio</h6>
                        <p class="card-text">Baner pune</p>
                        <a href="#" class="card-link">Edit</a>
                        <a href="#" class="card-link">Remove</a>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-organization></app-organization>
<app-branch></app-branch>
