<div class="dashboardPages">
<div class="dashbContentFlexH position-relative">

    <div class="bodyBgGradColor"></div>

    <div class="container-fluid">

        <div class="contentAreaBox">
            <div class="form-row align-items-center mb-2 minheight41Sty">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <h1 class="pageTitleSty">Register Vehicle</h1>
                </div>
                <div class="col-sm-12 col-md-5 col-lg-5">
                    <div class="searchBoxSty">
                        <input type="text" placeholder="Search..">
                        <button type="button"><i class="fas fa-search"></i></button>
                    </div>
                </div>
                <div class="col-sm-12 col-md-1 col-lg-1">
                    <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#registerVehicle_id">Add</button>
                </div>
            </div>


            <div class="detailsScrollBarV">
                <div class="cardSty availabelVehicleCardSty" [ngClass]="status ? 'open' : 'closeB'">

                    <div class="mainList">
                        <div class="d-flex d-flex justify-content-between align-items-center parentAL">
                            <div>
                                <div class="d-flex availabelVehicleFSty">
                                    <div class="lblSpanSty">
                                        <span class="pl-0">Tata Ace (1 Ton)</span>
                                    </div>
                                    <div class="lblSpanSty">
                                        <label>Vehicle Number: </label>
                                        <span>MH12 AB 1111</span>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="btnIconStyDetails">
                                    <div>
                                        <!-- <button type="button" class="btn btn-sm btn-outline-primary mr-2"><i class="fas fa-plus"></i></button> -->
                                        <button type="button" class="btn btn-sm btn-outline-info mr-2"><i class="fas fa-pen"></i></button>
                                        <button type="button" class="btn btn-sm btn-outline-danger mr-2"><i class="fas fa-trash-alt"></i></button>
                                        <!-- <button (click)="clickEvent()" class="btn btn-sm btn-outline-primary buttonArrowAV"><i class="fas fa-angle-down"></i></button> -->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- <ul class="subListAV">
                            <li>
                                <div class="d-flex d-flex justify-content-between align-items-center">
                                    <div>
                                        <div class="d-flex availabelVehicleFSty">
                                            <div class="lblSpanSty">
                                                <span class="pl-0">Pune to Kolhapur</span>
                                            </div>
                                            <div class="lblSpanSty">
                                                <label>Vehicle Number: </label>
                                                <span>MH12 AB 1111</span>
                                            </div>
                                            <div class="lblSpanSty">
                                                <label>Date: </label>
                                                <span>18/09/2019</span>
                                            </div>
                                            <div class="lblSpanSty">
                                                <label>Time: </label>
                                                <span>11:40 AM</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="btnIconStyDetails">
                                            <div>
                                                <button type="button" class="btn btn-sm btn-outline-info mr-2"><i class="fas fa-pen"></i></button>
                                                <button type="button" class="btn btn-sm btn-outline-danger"><i class="fas fa-trash-alt"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="d-flex d-flex justify-content-between align-items-center">
                                    <div>
                                        <div class="d-flex availabelVehicleFSty">
                                            <div class="lblSpanSty">
                                                <span class="pl-0">Pune to Kolhapur</span>
                                            </div>
                                            <div class="lblSpanSty">
                                                <label>Vehicle Number: </label>
                                                <span>MH12 AB 1111</span>
                                            </div>
                                            <div class="lblSpanSty">
                                                <label>Date: </label>
                                                <span>18/09/2019</span>
                                            </div>
                                            <div class="lblSpanSty">
                                                <label>Time: </label>
                                                <span>11:40 AM</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="btnIconStyDetails">
                                            <div>
                                                <button type="button" class="btn btn-sm btn-outline-info mr-2"><i class="fas fa-pen"></i></button>
                                                <button type="button" class="btn btn-sm btn-outline-danger"><i class="fas fa-trash-alt"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul> -->

                    </div>

                </div>


                <div class="cardSty availabelVehicleCardSty" [ngClass]="status ? 'open' : 'closeB'">

                    <div class="mainList">
                        <div class="d-flex d-flex justify-content-between align-items-center parentAL">
                            <div>
                                <div class="d-flex availabelVehicleFSty">
                                    <div class="lblSpanSty">
                                        <span class="pl-0">Tata Ace (1 Ton)</span>
                                    </div>
                                    <div class="lblSpanSty">
                                        <label>Vehicle Number: </label>
                                        <span>MH12 AB 1111</span>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="btnIconStyDetails">
                                    <div>
                                        <button type="button" class="btn btn-sm btn-outline-info mr-2"><i class="fas fa-pen"></i></button>
                                        <button type="button" class="btn btn-sm btn-outline-danger mr-2"><i class="fas fa-trash-alt"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>





            </div>

            <nav aria-label="Page navigation">
                <div class="justify-content-center example d-flex align-items-baseline">
                    <div class="mr-2">Total - 120</div>
                    <ul class="pagination">
                        <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1"
                                aria-disabled="true">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item active" aria-current="page"><a class="page-link" href="#">2 <span
                                    class="sr-only">(current)</span></a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </div>
            </nav>

        </div>

    </div>
</div>
</div>

<!-- Modal -->
<div class="modal fade" data-backdrop="static" id="registerVehicle_id" tabindex="-1" role="dialog" aria-labelledby="registerVehicle_idTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="registerVehicle_idTitle">Register Vehicle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div>
                    <form>
                        <div>
                            <div class="form-row">
                                <div class="col-sm-12 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label for="vehicleType_id">Vehicle Type</label>
                                        <select class="form-control" id="vehicleType_id">
                                            <option>Select</option>
                                            <option>Vehicle 1</option>
                                            <option>Vehicle 2</option>
                                            <option>Vehicle 3</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label for="loadCarryingCapacity_id">Load carrying capacity</label>
                                        <input type="text" class="form-control" id="loadCarryingCapacity_id"
                                            placeholder="Load carrying capacity" />
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label>Body</label>
                                        <div class="d-flex justify-content-start">
                                            <div class="form-group custom-control custom-radio my-1 mr-4">
                                                <input type="radio" class="custom-control-input" name="bodyOpenClose"
                                                    id="radioOpen_id">
                                                <label class="custom-control-label" for="radioOpen_id">Open</label>
                                            </div>
                                            <div class="form-group custom-control custom-radio my-1 mr-2">
                                                <input type="radio" class="custom-control-input" name="bodyOpenClose"
                                                    id="radioClose_id">
                                                <label class="custom-control-label" for="radioClose_id">Close</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-sm-12 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label for="vehicleNumber_id">Vehicle Number</label>
                                        <input type="text" class="form-control" id="vehicleNumber_id"
                                            placeholder="Vehicle number" />
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label for="chassisNumber_id">Chassis Number</label>
                                        <input type="text" class="form-control" id="chassisNumber_id"
                                            placeholder="Chassis Number" />
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label for="engineNumber_id">Engine Number</label>
                                        <input type="text" class="form-control" id="engineNumber_id"
                                            placeholder="Engine Number" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-sm-12 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label for="modelNumber_id">Model Number</label>
                                        <input type="text" class="form-control" id="modelNumber_id"
                                            placeholder="Model Number" />
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label for="manufacturingYear_id">Manufacturing Year</label>
                                        <input type="text" class="form-control" id="manufacturingYear_id"
                                            placeholder="Manufacturing Year" />
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label for="makeOfVehicle_id">Make of Vehicle</label>
                                        <input type="text" class="form-control" id="makeOfVehicle_id"
                                            placeholder="Make of Vehicle" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-sm-12 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label>Vehicle</label>
                                        <div class="d-flex justify-content-start">
                                            <div class="form-group custom-control custom-radio my-1 mr-4">
                                                <input type="radio" class="custom-control-input" name="VehicleSelfOther"
                                                    id="radioSelf_id">
                                                <label class="custom-control-label" for="radioSelf_id">Self</label>
                                            </div>
                                            <div class="form-group custom-control custom-radio my-1 mr-2">
                                                <input type="radio" class="custom-control-input" name="VehicleSelfOther"
                                                    id="radioOther_id" checked>
                                                <label class="custom-control-label" for="radioOther_id">Other</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label for="name_id">Name</label>
                                        <input type="text" class="form-control" id="name_id" placeholder="Name" />
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label for="mobileNumber_id">Mobile Number</label>
                                        <input type="text" class="form-control" id="mobileNumber_id"
                                            placeholder="Mobile Number" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-sm-12 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label for="ratePerKM_id">Rate (Per KM)</label>
                                        <input type="text" class="form-control" id="ratePerKM_id"
                                            placeholder="Rate (Per KM)" />
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label for="company_id">Company</label>
                                        <select class="form-control" id="company_id">
                                            <option>Select</option>
                                            <option>Company 1</option>
                                            <option>Company 2</option>
                                            <option>Company 3</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label for="cityNames_id">City Names</label>
                                        <select class="form-control" id="cityNames_id">
                                            <option>Select</option>
                                            <option>City 1</option>
                                            <option>City 2</option>
                                            <option>City 3</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-sm-12 col-md-6 col-lg-6">
                                    <div class="form-group mb-0">
                                        <label for="supervisorGroup_id">Supervisor Group</label>
                                        <select class="form-control" id="supervisorGroup_id">
                                            <option>Select</option>
                                            <option>Supervisor Group 1</option>
                                            <option>Supervisor Group 2</option>
                                            <option>Supervisor Group 3</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-6">
                                    <div class="form-group mb-0">
                                        <label for="baseLocation_id">Base Location</label>
                                        <input type="text" class="form-control" id="baseLocation_id"
                                            placeholder="Base Location" />
                                    </div>
                                </div>
                            </div>

                        </div>

                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Register</button>
            </div>
        </div>
    </div>
</div>