<app-header-after-login *ngIf="isLoggedIn"></app-header-after-login>
<!-- <app-breadcrumb *ngIf="isLoggedIn"></app-breadcrumb> -->

<router-outlet></router-outlet>

<footer *ngIf="isLoggedIn">
    <div class="copyRightSec pt-2 pb-2">
        <div class="container-fluid">
            <div class="d-flex flex-column flex-md-row flex-lg-row align-items-center justify-content-center justify-content-md-between">
                <!-- <div><img src="assets/img/footerLogo.png" class="mx-auto widt115" alt="" /></div> -->
                <div class="copyRightTxt">Copyright &copy; 2019 Rent Pe Truck</div>
                <div class="termsPrivacyTxt">
                    <a href="#" class="d-inline-block">Terms of Use</a>
                    <a href="#" class="d-inline-block ml-3">Privacy Policy</a>
                </div>
            </div>
        </div>
    </div>
</footer>