<div class="dashbContentFlexH position-relative">

    <div class="bodyBgGradColor"></div>

    <div class="container-fluid">

        <div class="contentAreaBox">
            <div class="form-row align-items-center mb-2">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <h1 class="pageTitleSty">User Details</h1>
                </div>
                <div class="col-sm-12 col-md-5 col-lg-5">
                    <div class="searchBoxSty">
                        <input type="text" placeholder="Search..">
                        <button type="button"><i class="fas fa-search"></i></button>
                    </div>
                </div>
                <div class="col-sm-12 col-md-1 col-lg-1">
                    <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#addUser_id">Add</button>
                </div>
            </div>

            <div class="detailsScrollBarV">

<div class="usersSecMain">

    <div class="d-flex flex-wrap justify-content-start">

        <div class="card m-1">
            <div class="card-body">
                <h6 class="card-subtitle mb-2"><small class="text-muted">Company Name:</small> Shaurya Finance Pvt. Ltd.</h6>
                <div class="card-text mb-2"><small class="text-muted">Name:</small> Vinit Bhise</div>
                <div class="card-text mb-2"><small class="text-muted">Mobile No.:</small> +91 9604601273</div>
                <div class="card-text mb-2"><small class="text-muted">Role:</small> Owner</div>

                <div class="d-flex justify-content-between border-top mt-2 pt-2">
                    <div><a href="#" class="card-link">Edit</a></div>
                    <div><a href="#" class="card-link">Block</a></div>
                    <div><a href="#" class="card-link">Remove</a></div>
                </div>

            </div>
        </div>

        <div class="card m-1">
            <div class="card-body">
                <h6 class="card-subtitle mb-2"><small class="text-muted">Company Name:</small> Shaurya Finance Pvt. Ltd.</h6>
                <div class="card-text mb-2"><small class="text-muted">Name:</small> Vinit Bhise</div>
                <div class="card-text mb-2"><small class="text-muted">Mobile No.:</small> +91 9604601273</div>
                <div class="card-text mb-2"><small class="text-muted">Role:</small> Owner</div>

                <div class="d-flex justify-content-between border-top mt-2 pt-2">
                    <div><a href="#" class="card-link">Edit</a></div>
                    <div><a href="#" class="card-link">Block</a></div>
                    <div><a href="#" class="card-link">Remove</a></div>
                </div>

            </div>
        </div>

        <div class="card m-1">
            <div class="card-body">
                <h6 class="card-subtitle mb-2"><small class="text-muted">Company Name:</small> Shaurya Finance Pvt. Ltd.</h6>
                <div class="card-text mb-2"><small class="text-muted">Name:</small> Vinit Bhise</div>
                <div class="card-text mb-2"><small class="text-muted">Mobile No.:</small> +91 9604601273</div>
                <div class="card-text mb-2"><small class="text-muted">Role:</small> Owner</div>

                <div class="d-flex justify-content-between border-top mt-2 pt-2">
                    <div><a href="#" class="card-link">Edit</a></div>
                    <div><a href="#" class="card-link">Block</a></div>
                    <div><a href="#" class="card-link">Remove</a></div>
                </div>

            </div>
        </div>

        <div class="card m-1">
            <div class="card-body">
                <h6 class="card-subtitle mb-2"><small class="text-muted">Company Name:</small> Shaurya Finance Pvt. Ltd.</h6>
                <div class="card-text mb-2"><small class="text-muted">Name:</small> Vinit Bhise</div>
                <div class="card-text mb-2"><small class="text-muted">Mobile No.:</small> +91 9604601273</div>
                <div class="card-text mb-2"><small class="text-muted">Role:</small> Owner</div>

                <div class="d-flex justify-content-between border-top mt-2 pt-2">
                    <div><a href="#" class="card-link">Edit</a></div>
                    <div><a href="#" class="card-link">Block</a></div>
                    <div><a href="#" class="card-link">Remove</a></div>
                </div>

            </div>
        </div>

    </div>
</div>

            </div>

<nav aria-label="Page navigation">
    <div class="justify-content-center example d-flex align-items-baseline">
        <div class="mr-2">Total - 120</div>
        <ul class="pagination">
            <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active" aria-current="page"><a class="page-link" href="#">2 <span class="sr-only">(current)</span></a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </div>
</nav>

        </div>

    </div>
</div>


<!-- Modal -->
<div class="modal fade" data-backdrop="static" id="addUser_id" tabindex="-1" role="dialog" aria-labelledby="addUser_idTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addUser_idTitle">Add User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
<div>
            <form>
                <div>

                    <div class="form-row">
                        <div class="col-sm-12 col-md-4 col-lg-4">
        <div class="form-group">
            <label for="userType_id">User Type</label>
            <select class="form-control" id="userType_id">
                <option>Select</option>
                <option>Owner</option>
                <option>Transporter</option>
                <option>Supervisor</option>
            </select>
        </div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label for="name_id">Name</label>
                                <input type="text" class="form-control" id="name_id" placeholder="Name" />
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label for="mobileNumber_id">Mobile Number</label>
                                <input type="number" class="form-control" id="mobileNumber_id" placeholder="Mobile Number" />
                            </div>
                        </div>
                    </div>

                    <div class="companyCheckboxListMain">
                        <div class="d-flex justify-content-between align-items-center selectTitleBtn">
                            <div class="selectCompTitle">Select Companies</div>
                            <div><button type="button" class="btn btn-link btn-sm"><i class="fas fa-plus-circle"></i></button></div>
                        </div>

                        <div class="d-flex justify-content-start">
                            <div class="companyCheckboxList">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                    <label class="custom-control-label" for="customCheck1">Shaurya Finance Pvt. Ltd.</label>
                                </div>
                            </div>
                            <div class="companyCheckboxList">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck2">
                                    <label class="custom-control-label" for="customCheck2">Shaurya Electronic Shopping Store</label>
                                </div>
                            </div>
                            <div class="companyCheckboxList">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck3">
                                    <label class="custom-control-label" for="customCheck3">Shaurya Petroleum</label>
                                </div>
                            </div>
                            <div class="companyCheckboxList">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck4">
                                    <label class="custom-control-label" for="customCheck4">Shaurya Studio</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="companyCheckboxListMain">
                        <div class="d-flex justify-content-between align-items-center selectTitleBtn">
                            <div class="selectCompTitle">Select Branch</div>
                            <div><button type="button" class="btn btn-link btn-sm"><i class="fas fa-plus-circle"></i></button></div>
                        </div>
                        <div class="d-flex justify-content-start">
                            <div class="companyCheckboxList">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck11">
                                    <label class="custom-control-label" for="customCheck11">Branch 1</label>
                                </div>
                            </div>
                            <div class="companyCheckboxList">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck22">
                                    <label class="custom-control-label" for="customCheck22">Branch 2</label>
                                </div>
                            </div>
                            <div class="companyCheckboxList">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck33">
                                    <label class="custom-control-label" for="customCheck33">Branch 3</label>
                                </div>
                            </div>
                            <div class="companyCheckboxList">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck44">
                                    <label class="custom-control-label" for="customCheck44">Branch 4</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="companyCheckboxListMain">
                        <div class="d-flex justify-content-between align-items-center selectTitleBtn">
                            <div class="selectCompTitle">Select Vehicle Group</div>
                            <div><button type="button" class="btn btn-link btn-sm"><i class="fas fa-plus-circle"></i></button></div>
                        </div>
                        <div class="d-flex justify-content-start">
                            <div class="companyCheckboxList">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck11">
                                    <label class="custom-control-label" for="customCheck11">Vehicle Group 1</label>
                                </div>
                            </div>
                            <div class="companyCheckboxList">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck22">
                                    <label class="custom-control-label" for="customCheck22">Vehicle Group 2</label>
                                </div>
                            </div>
                            <div class="companyCheckboxList">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck33">
                                    <label class="custom-control-label" for="customCheck33">Vehicle Group 3</label>
                                </div>
                            </div>
                            <div class="companyCheckboxList">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck44">
                                    <label class="custom-control-label" for="customCheck44">Vehicle Group 4</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-sm-12 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label for="email_id">Email Id</label>
                                <input type="email" class="form-control" id="email_id" placeholder="Email" />
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label for="state_id">State</label>
                                <select class="form-control" id="state_id">
                                    <option>Select</option>
                                    <option>Maharashtra</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label for="city_id">City</label>
                                <select class="form-control" id="city_id">
                                    <option>Select</option>
                                    <option>Pune</option>
                                    <option>Kolhapur</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                <label for="rdAddress_id">Address</label>
                                <textarea class="form-control" id="rdAddress_id" rows="2"></textarea>
                            </div>
                        </div>

                    </div>

                </div>
            </form>

        </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Add</button>
            </div>
        </div>
    </div>
</div>
