.chat{background:#fff; border-radius:10px 10px 0 0; color:#434651; width:300px; position:fixed; box-shadow:0 0 10px #565656; bottom:35px; right:15px;}

.chat ul{margin:0; padding:0;}
.chat ul li{margin:0; padding:0; list-style:none;}
.customerImg{width:50px; border-radius:50%;}
.chat .chat-header{padding:10px; height:73px; position:relative; border-bottom:2px solid #fff; background:#132830; border-radius:10px 10px 0 0;}
.chat .chat-header img {float:left;}
.chat .chat-header .chat-about{float:left; padding-left:10px; margin-top:6px;}
.chat .chat-header .chat-with{font-weight:600; font-size:0.8rem; color:#fff;}
.closeIconChat{position:absolute; cursor:pointer; right:11px; font-size:1rem; color:#fff; top:5px;}
.chat .chat-header .chat-num-messages{color:#92959E;}
.chat .chat-header .fa-star{float:right; color:#D8DADF; font-size:20px; margin-top:12px;}
.chat .chat-history{padding:10px; border-bottom:2px solid #fff; overflow-y:scroll; height:300px;}
.chat .chat-history .message-data{margin-bottom:15px;}
.chat .chat-history .message-data-time {color:#6f6f6f; padding-left:6px;}
.message-data-name{font-weight:500;}
.chat .chat-history .message{color:#fff; padding:8px 10px; line-height:normal; font-size:0.8rem; border-radius:10px; margin-bottom:10px; width:90%; position:relative; box-shadow:1px 1px 5px #ccc;}
.chat .chat-history .message:after{bottom:100%; left:16%; border:solid transparent; content:" "; height:0; width:0; position:absolute; pointer-events:none; border-bottom-color:#86BB71; border-width:10px; margin-left:-10px;}
.chat .chat-history .my-message {background:#86BB71;}
.chat .chat-history .other-message {background:#94C2ED;}
.chat .chat-history .other-message:after {border-bottom-color:#94C2ED; left:85%;}
.chat .chat-message {padding:10px;}
.chat .chat-message textarea{width:100%; border:1px solid #2993d0; padding:8px; border-radius:5px; resize:none;}
.chat .chat-message .fa-file-o, .chat .chat-message .fa-file-image-o{font-size:16px; color:gray; cursor:pointer;}
.chat .chat-message button{float:right; color:#2993d0; font-size:16px; text-transform:uppercase; border:none; cursor:pointer; font-weight:bold; background-color:transparent;}
.chat .chat-message button:hover{color:#75b1e8;}
.online, .offline, .me{margin-right:3px; font-size:10px;}
.online{color:#86BB71;}
.offline{color:#E38968;}
.me{color:#94C2ED; display:inline-block; margin:0 3px 0 5px;}
.align-left{text-align:left;}
.align-right{text-align:right;}
.float-right{float:right;}
.clearfix:after{visibility:hidden; display:block; font-size:0; content: " "; clear:both; height:0;}