<div class="dashbContentFlexH position-relative">
  <div class="bodyBgGradColor"></div>
  <div class="container-fluid">
    <div class="contentAreaBox">
      <div>
        <div class="cardSty availabelVehicleCardSty open">
          <div class="form-row">
            <div class="col-sm-11 col-md-11 col-lg-11"></div>
            <div class="col-sm-1 col-md-1 col-lg-1">
              <div class="mt-3 mr-3"><button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#editProfile_id">Edit</button></div>
            </div>
          </div>
          <div class="pb-3 pr-5 pl-5">
            <div class="mb-3">
              <div class="d-flex justify-content-center align-items-center flex-column">
                <div class="position-relative">
                  <img [attr.src]="userDetails.userPhotoLink ? userDetails.userPhotoLink : '../../assets/img/default_user_icon.png'" alt="{{userDetails.userFullName}}" class="profileImgSty" />
                  <div class="editProfImgIcon"><i class="fas fa-pencil-alt"></i></div>
                </div>
                <div class="usernameTextSty pt-1 pb-1">{{userDetails.userFullName}}</div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-sm-12 col-md-4 col-lg-4">
                <label>Mobile Number</label>
                <span class="form-control">{{userDetails.userMobileNumber}}</span>
              </div>
              <div class="form-group col-sm-12 col-md-4 col-lg-4">
                <label>Alternate Mobile Number</label>
                <span class="form-control">{{userDetails.userAlternateMobileNumber}}</span>
              </div>
              <div class="form-group col-sm-12 col-md-4 col-lg-4">
                <label>Email Id</label>
                <span class="form-control">{{userDetails.userEmailD}}</span>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-sm-12 col-md-4 col-lg-4">
                <label>Address</label>
                <span class="form-control">{{userDetails.userAddress}}</span>
              </div>
              <div class="form-group col-sm-12 col-md-4 col-lg-4">
                <label for="state_id">State</label>
                <span class="form-control">{{userDetails.stateName}}</span>
              </div>
              <div class="form-group col-sm-12 col-md-4 col-lg-4">
                <label for="city_id">City</label>
                <span class="form-control">{{userDetails.cityName}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<form [formGroup]="frmUpdateUser" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
  <div class="modal fade" id="editProfile_id" tabindex="-1" role="dialog" aria-labelledby="editProfile_idTitle"
       aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editProfile_idTitle">Edit Profile</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>
            <div>
              <div class="form-row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                  <div class="form-group">
                    <label for="userFullName">Full name</label>
                    <input type="text" class="form-control" [disabled]="false" formControlName="userFullName" placeholder="e.g. Nitin Suresh Kute" />
                  </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                  <div class="form-group">
                    <label for="email">Email ID</label>
                    <input type="email" class="form-control" formControlName="userEmailD" placeholder="e.g. nitin123@example.com" />
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                  <div class="form-group">
                    <div class="userNamAndPswF">
                      <label for="userMobileNumber">Mobile Number</label>
                      <input type="text" class="form-control" [ngClass]="{ 'is-invalid': frmUpdateUser.get('userMobileNumber').touched && !frmUpdateUser.get('userMobileNumber').valid }"
                             formControlName="userMobileNumber" placeholder="e.g. 1234567890" minlength=10
                             maxlength=10 />
                    </div>
                    <span class="help-block mb-2"
                          *ngIf="!frmUpdateUser.get('userMobileNumber').valid && frmUpdateUser.get('userMobileNumber').touched">
                      Enter valid mobile no.
                    </span>
                  </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                  <div class="form-group">
                    <div class="userNamAndPswF">
                      <label for="AlternateMobileNumber">Alternate Mobile Number</label>
                      <input type="text" class="form-control"
                             [ngClass]="{ 'is-invalid': frmUpdateUser.get('userAlternateMobileNumber').touched && !frmUpdateUser.get('userAlternateMobileNumber').valid }"
                             formControlName="userAlternateMobileNumber" placeholder="e.g. 1234567890" minlength=10
                             maxlength=10 />
                    </div>
                    <span class="help-block mb-2"
                          *ngIf="!frmUpdateUser.get('userAlternateMobileNumber').valid && frmUpdateUser.get('userAlternateMobileNumber').touched">
                      Enter valid mobile no.
                    </span>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                  <div class="form-group">
                    <label for="state">State</label>
                    <select class="form-control" (change)="onChangeState(false)" formControlName="state">
                      <option value="" disabled>Select</option>
                      <option *ngFor="let state of states" [ngValue]="state.lookupID">{{state.lookupValue}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                  <div class="form-group">
                    <label for="city">City</label>
                    <select class="form-control" formControlName="city">
                      <option value="" disabled>Select</option>
                      <option *ngFor="let city of cities" [ngValue]="city.lookupID">{{city.lookupValue}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="onChangeStateUpdateValue()">Updates</button>
          <button type="submit" class="btn btn-primary">Update</button>
        </div>
      </div>
    </div>
  </div>
</form>































































<!-- <div class="d-flex flex-column flex-md-row flex-lg-row dashbContentFlexH">
    <div class="col leftSideCont" *ngIf="isEditprofile">
        <div class="pt-3">
            <form>
                <div class="vertiScrollBar">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label for="nameP_id">Name</label>
                                <input type="text" class="form-control" id="nameP_id" placeholder="Name" />
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label>Profile Picture</label>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="profilePictureFile" required>
                                    <label class="custom-file-label" for="profilePictureFile">Choose file...</label>
                                    <div class="invalid-feedback">Example invalid custom file feedback</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="companyNameP_id">Company Name</label>
                        <input type="text" class="form-control" id="companyNameP_id" placeholder="Company Name" />
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label for="mobileNoP_id">Mobile No.</label>
                                <input type="text" class="form-control" id="mobileNoP_id" placeholder="Mobile No." />
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label for="panP_id">Pan No.</label>
                                <input type="text" class="form-control" id="panP_id" placeholder="Pan No." />
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label for="gstNoP_id">GST No.</label>
                                <input type="text" class="form-control" id="gstNoP_id" placeholder="GST No." />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="aadharCardNumber_id">Upload KYC Documents</label>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="validatedCustomFile" required>
                            <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
                            <span class="infoTxtKyc">*Voter's Identity Card, *Driving Licence, *Aadhaar Card, *PAN Card.</span>
                            <div class="invalid-feedback">Example invalid custom file feedback</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Preferences</label>
                        <div class="d-flex justify-content-start">
                            <div class="form-group custom-control custom-radio my-1 mr-3">
                                <input type="radio" class="custom-control-input" name="lsFullPartial"
                                    id="interested_id">
                                <label class="custom-control-label" for="interested_id">Interested</label>
                            </div>
                            <div class="form-group custom-control custom-radio my-1 mr-3">
                                <input type="radio" class="custom-control-input" name="lsFullPartial"
                                    id="betweenStates_id">
                                <label class="custom-control-label" for="betweenStates_id">Between States</label>
                            </div>
                            <div class="form-group custom-control custom-radio my-1 mr-2">
                                <input type="radio" class="custom-control-input" name="lsFullPartial" id="anyWhere_id">
                                <label class="custom-control-label" for="anyWhere_id">Any Where</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="rdAddress_id">Address</label>
                        <textarea class="form-control" id="rdAddress_id" rows="2"></textarea>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mt-2" (click)="OnSubmit()">Save</button>
            </form>
        </div>
    </div>
    <div class="col rightSideCont">
        <div class="pt-2">
            <div>
                <div class="cardSty heightAutoSty onlyDetailsSec">

                    <div>
                        <div class="d-flex justify-content-end">
                            <div>
                                <div class="editProBtnM"><button type="button" (click)="!isEditprofile; Fn_edit()" class="btn btn-sm btn-outline-info mr-2"><i class="fas fa-pen"></i></button></div>
                            </div>
                        </div>
                    </div>
                    <div class="profilePicImg">
                        <img src="assets/img/avatar.jpg" alt="" />
                    </div>

                    <div>
                        <div class="d-flex flex-wrap">
                            <div class="lblSpanSty">
                                <label>Name: </label>
                                <span>Test</span>
                            </div>
                            <div class="lblSpanSty">
                                <label>Mobile No.: </label>
                                <span>Test</span>
                            </div>
                            <div class="lblSpanSty">
                                <label>Company Name: </label>
                                <span>Test</span>
                            </div>
                            <div class="lblSpanSty">
                                <label>Pan No.: </label>
                                <span>Test</span>
                            </div>
                            <div class="lblSpanSty">
                                <label>GST No.: </label>
                                <span>Test</span>
                            </div>
                            <div class="lblSpanSty">
                                <label>Preferences: </label>
                                <span>Between States</span>
                            </div>
                        </div>
                        <div class="lblSpanSty">
                            <label>Address: </label>
                            <span>Test</span>
                        </div>
                    </div>
                    <div>
                        <div class="d-flex justify-content-end mt-2 btnIconStyDetails">
                            <div><button type="button" class="btn btn-sm btn-outline-info mr-2"><i
                                        class="fas fa-pen"></i></button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
