<div class="dashboardPages">
<div class="dashbContentFlexH position-relative">
  <div class="bodyBgGradColor"></div>
  <div class="container-fluid">
    <div class="contentAreaBox">
      <div>
        <div class="cardSty availabelVehicleCardSty open">
          <div class="form-row">
            <div class="col-sm-11 col-md-11 col-lg-11"></div>
            <div class="col-sm-1 col-md-1 col-lg-1">
              <div class="mt-3 mr-3"><button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#editProfile_id">Edit</button></div>
            </div>
          </div>

          <div class="mb-3">
            <div class="d-flex justify-content-center align-items-center flex-column">
              <div class="position-relative">
                <img [attr.src]="userDetails.userPhotoLink ? userDetails.userPhotoLink : 'assets/img/default_user_icon.png'" alt="{{userDetails.userFullName}}" class="profileImgSty" />
              </div>
              <div class="usernameTextSty pt-1 pb-1">{{userDetails.userFullName}}</div>
            </div>
          </div>

          <div class="pb-3 pr-5 pl-5">
            <form>
            <div class="form-row">
              <div class="form-group col-sm-12 col-md-4 col-lg-4">
                <label>Full Name</label>
                <span class="form-control">{{userDetails.userFullName}}</span>
              </div>
              <div class="form-group col-sm-12 col-md-4 col-lg-4">
                <label>Mobile Number</label>
                <span class="form-control">{{userDetails.userMobileNumber}}</span>
              </div>
              <div class="form-group col-sm-12 col-md-4 col-lg-4">
                <label>Alternate Mobile Number</label>
                <span class="form-control">{{userDetails.userAlternateMobileNumber}}</span>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-sm-12 col-md-4 col-lg-4">
                <label>Email Id</label>
                <span class="form-control">{{userDetails.userEmailD}}</span>
              </div>
              <div class="form-group col-sm-12 col-md-4 col-lg-4">
                <label for="state_id">State</label>
                <span class="form-control">{{userDetails.Name}}</span>
              </div>
              <div class="form-group col-sm-12 col-md-4 col-lg-4">
                <label for="city_id">City</label>
                <span class="form-control">{{userDetails.cityName}}</span>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-sm-12 col-md-12 col-lg-12">
                <label>Address</label>
                <span class="form-control">{{userDetails.userAddress}}</span>
              </div>
            </div>
</form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<!-- Modal -->
<form [formGroup]="frmUpdateUser" (ngSubmit)="onSubmit()">
  <div class="modal fade" data-backdrop="static" id="editProfile_id" tabindex="-1" role="dialog" aria-labelledby="editProfile_idTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editProfile_idTitle">Edit Profile</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>
            <div>

            <div class="mb-3">
              <div class="d-flex justify-content-center align-items-center flex-column">
                <div class="position-relative">
                  <img [attr.src]="userDetails.userPhotoLink ? userDetails.userPhotoLink : 'assets/img/default_user_icon.png'" alt="{{userDetails.userFullName}}" class="profileImgSty" />
                  <div class="editProfImgIcon"><i class="fas fa-pencil-alt"></i></div>
                </div>
                <div class="usernameTextSty pt-1 pb-1">{{userDetails.userFullName}}</div>
              </div>
            </div>

              <div class="form-row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                  <div class="form-group">
                    <label for="userFullName">Full name</label>
                    <input type="text" class="form-control" [disabled]="false" formControlName="userFullName" placeholder="e.g. Nitin Suresh Kute" />
                  </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                  <div class="form-group">
                    <label for="userEmailD">Email ID</label>
                    <input type="email" class="form-control" formControlName="userEmailD" placeholder="e.g. nitin123@example.com" />
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                  <div class="form-group">
                    <div class="userNamAndPswF">
                      <label for="userMobileNumber">Mobile Number</label>
                      <input type="text" class="form-control" [ngClass]="{ 'is-invalid': frmUpdateUser.get('userMobileNumber').touched && !frmUpdateUser.get('userMobileNumber').valid }"
                             formControlName="userMobileNumber" placeholder="e.g. 1234567890" minlength=10
                             maxlength=10 />
                    </div>
                    <span class="help-block mb-2"
                          *ngIf="!frmUpdateUser.get('userMobileNumber').valid && frmUpdateUser.get('userMobileNumber').touched">
                      Enter valid mobile no.
                    </span>
                  </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                  <div class="form-group">
                    <div class="userNamAndPswF">
                      <label for="AlternateMobileNumber">Alternate Mobile Number</label>
                      <input type="text" class="form-control"
                             [ngClass]="{ 'is-invalid': frmUpdateUser.get('userAlternateMobileNumber').touched && !frmUpdateUser.get('userAlternateMobileNumber').valid }"
                             formControlName="userAlternateMobileNumber" placeholder="e.g. 1234567890" minlength=10
                             maxlength=10 />
                    </div>
                    <span class="help-block mb-2"
                          *ngIf="!frmUpdateUser.get('userAlternateMobileNumber').valid && frmUpdateUser.get('userAlternateMobileNumber').touched">
                      Enter valid mobile no.
                    </span>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                  <div class="form-group">
                    <label for="state">State</label>
                    <select class="form-control" (change)="onChangeState()" formControlName="state">
                      <option value="" disabled>Select</option>
                      <option *ngFor="let state of states" [ngValue]="state">{{state.lookupValue}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                  <div class="form-group">
                    <label for="city">City</label>
                    <select class="form-control" formControlName="city">
                      <option value="" disabled>Select</option>
                      <option *ngFor="let city of cities" [ngValue]="city">{{city.lookupValue}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Update</button>
        </div>
      </div>
    </div>
  </div>
</form>