<div class="dashboardRATMain dashboardMainHeight">

    <div class="bgGradColor totalCountMain pt-3 pb-3">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="searchBoxDashbRTA">
                        <input type="text" class="form-control" placeholder="Search" />
                        <i class="fas fa-search"></i>
                    </div>
                </div>
            </div>
            <div class="row flex-column flex-md-row">
                <div class="col">
                    <div
                        class="d-flex flex-column justify-content-center align-items-center totalCountBox totalCountBox1">
                        <div class="iconImgDC mb-3">
                            <img src="assets/img/cargoTruck1.png" alt="">
                        </div>
                        <div class="titleSecDC">
                            <div class="titleSecInrDC">Register Vehicle</div>
                        </div>
                        <div class="totalCountDC">300</div>
                    </div>
                </div>
                <div class="col">
                    <div
                        class="d-flex flex-column justify-content-center align-items-center totalCountBox totalCountBox2">
                        <div class="iconImgDC mb-3">
                            <img src="assets/img/availableVehicleIcon.png" alt="">
                        </div>
                        <div class="titleSecDC">
                            <div class="titleSecInrDC">Available Vehicle</div>
                        </div>
                        <div class="totalCountDC">210</div>
                    </div>
                </div>
                <div class="col">
                    <div
                        class="d-flex flex-column justify-content-center align-items-center totalCountBox totalCountBox3">
                        <div class="iconImgDC mb-3">
                            <img src="assets/img/todaysBookingIcon.png" alt="">
                        </div>
                        <div class="titleSecDC">
                            <div class="titleSecInrDC">Today's Booking</div>
                        </div>
                        <div class="totalCountDC">28</div>
                    </div>
                </div>
                <div class="col">
                    <div
                        class="d-flex flex-column justify-content-center align-items-center totalCountBox totalCountBox4">
                        <div class="iconImgDC mb-3">
                            <img src="assets/img/sendMaterialicon.png" alt="">
                        </div>
                        <div class="titleSecDC">
                            <div class="titleSecInrDC">Send Material</div>
                        </div>
                        <div class="totalCountDC">50 ton</div>
                    </div>
                </div>
                <div class="col">
                    <div
                        class="d-flex flex-column justify-content-center align-items-center totalCountBox totalCountBox5">
                        <div class="iconImgDC mb-3">
                            <img src="assets/img/registerDriversIcon.png" alt="">
                        </div>
                        <div class="titleSecDC">
                            <div class="titleSecInrDC">Register Drivers</div>
                        </div>
                        <div class="totalCountDC">300</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="container">

            <div class="tbaleListLivetTL">
                <div>
                    <div
                        class="d-flex flex-column flex-md-row flex-lg-row justify-content-between align-items-center pt-3 pb-3">
                        <div class="titleStyLAL">
                            <h5 class="m-0">Live Available <strong>Loads</strong> (562)</h5>
                        </div>
                        <div>
                            <div
                                class="d-flex flex-column flex-md-row flex-lg-row justify-content-center justify-content-md-between align-items-center">
                                <div class="findMoreLoadsBtnSty">
                                    <button type="button" class="btn btn-primary" routerLink="/liveAvailableLoads"><i
                                            class="fas fa-dolly"></i> Find More Loads</button>
                                </div>
                                <!-- <div class="postYourTLBtnSty">
                                    <button type="button" class="btn btn-primary"><i class="fas fa-truck"></i> Post Truck Location</button>
                                </div> -->
                            </div>
                        </div>
                        <div class="viewAllBtn">
                            <button type="button" class="btn btn-outline-primary" routerLink="/liveAvailableLoads">View
                                All</button>
                        </div>
                    </div>
                </div>

                <div class="tblLA">
                    <table>
                        <tr>
                            <td><i class="far fa-clock"></i> 00:16h</td>
                            <td><i class="far fa-calendar-alt"></i> 9 Apr</td>
                            <td><i class="fas fa-map-marker-alt"></i> Rajkot, GJ <i class="fas fa-long-arrow-alt-right"></i> Meerut, UP</td>
                            <td>117 km</td>
                            <td><i class="fas fa-truck"></i> Truck Close (20 ft)</td>
                            <td><i class="fas fa-dolly"></i> (Load - Full)</td>
                            <td><a href="#"><i class="fas fa-eye"></i> View</a></td>
                        </tr>
                        <tr>
                            <td><i class="far fa-clock"></i> 00:16h</td>
                            <td><i class="far fa-calendar-alt"></i> 9 Apr</td>
                            <td><i class="fas fa-map-marker-alt"></i> Rajkot, GJ <i class="fas fa-long-arrow-alt-right"></i> Meerut, UP</td>
                            <td>117 km</td>
                            <td><i class="fas fa-truck"></i> Truck Close (20 ft)</td>
                            <td><i class="fas fa-dolly"></i> (Load - Full)</td>
                            <td><a href="#"><i class="fas fa-eye"></i> View</a></td>
                        </tr>
                        <tr>
                            <td><i class="far fa-clock"></i> 00:16h</td>
                            <td><i class="far fa-calendar-alt"></i> 9 Apr</td>
                            <td><i class="fas fa-map-marker-alt"></i> Rajkot, GJ <i class="fas fa-long-arrow-alt-right"></i> Meerut, UP</td>
                            <td>117 km</td>
                            <td><i class="fas fa-truck"></i> Truck Close (20 ft)</td>
                            <td><i class="fas fa-dolly"></i> (Load - Full)</td>
                            <td><a href="#"><i class="fas fa-eye"></i> View</a></td>
                        </tr>
                    </table>
                </div>

            </div>

            <div class="tbaleListLivetTL">
                <div>
                    <div
                        class="d-flex flex-column flex-md-row flex-lg-row justify-content-between align-items-center pt-3 pb-3">
                        <div class="titleStyLAT">
                            <h5 class="m-0">Live Available <strong>Trucks</strong> (562)</h5>
                        </div>
                        <div>
                            <div
                                class="d-flex flex-column flex-md-row flex-lg-row justify-content-center justify-content-md-between align-items-center">
                                <div class="postYourTLBtnSty">
                                    <button type="button" class="btn btn-primary" routerLink="/liveAvailableTrucks"><i class="fas fa-truck"></i> Find More Trucks</button>
                                </div>
                                <!-- <div class="postYourTLBtnSty">
                                    <button type="button" class="btn btn-primary"><i class="fas fa-dolly"></i> Post Your Load</button>
                                </div> -->
                            </div>
                        </div>
                        <div class="viewAllBtn">
                            <button type="button" class="btn btn-outline-primary" routerLink="/liveAvailableTrucks">View All</button>
                        </div>
                    </div>
                </div>

                <div class="tblLA">
                    <table>
                        <tr>
                            <td><i class="far fa-clock"></i> 00:16h</td>
                            <td><i class="far fa-calendar-alt"></i> 9 Apr</td>
                            <td><i class="fas fa-map-marker-alt"></i> Rajkot, GJ <i class="fas fa-long-arrow-alt-right"></i> Meerut, UP</td>
                            <td>117 km</td>
                            <td><i class="fas fa-truck"></i> Truck Close (20 ft)</td>
                            <td><i class="fas fa-dolly"></i> (Load - Full)</td>
                            <td>MH-26-BE-0739</td>
                            <td><a href="#"><i class="fas fa-eye"></i> View</a></td>
                        </tr>
                        <tr>
                            <td><i class="far fa-clock"></i> 00:16h</td>
                            <td><i class="far fa-calendar-alt"></i> 9 Apr</td>
                            <td><i class="fas fa-map-marker-alt"></i> Rajkot, GJ <i class="fas fa-long-arrow-alt-right"></i> Meerut, UP</td>
                            <td>117 km</td>
                            <td><i class="fas fa-truck"></i> Truck Close (20 ft)</td>
                            <td><i class="fas fa-dolly"></i> (Load - Full)</td>
                            <td>MH-26-BE-0739</td>
                            <td><a href="#"><i class="fas fa-eye"></i> View</a></td>
                        </tr>
                        <tr>
                            <td><i class="far fa-clock"></i> 00:16h</td>
                            <td><i class="far fa-calendar-alt"></i> 9 Apr</td>
                            <td><i class="fas fa-map-marker-alt"></i> Rajkot, GJ <i class="fas fa-long-arrow-alt-right"></i> Meerut, UP</td>
                            <td>117 km</td>
                            <td><i class="fas fa-truck"></i> Truck Close (20 ft)</td>
                            <td><i class="fas fa-dolly"></i> (Load - Full)</td>
                            <td>MH-26-BE-0739</td>
                            <td><a href="#"><i class="fas fa-eye"></i> View</a></td>
                        </tr>
                    </table>
                </div>

            </div>

        </div>
    </div></div>