<div class="modal fade modalOpacitySty" data-backdrop="static" id="registerPopup_id" tabindex="-1" role="dialog" aria-labelledby="registerPopupTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content formMainLR">
            <div class="modal-header">
                <h5 class="modal-title popupTitleLR">Register With OTP</h5>
                <div class="closeBtnLR">
                    <button type="button" class="close" (click)="onCloseRegisterModal()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
            </div>
            <div class="modal-body">
              <form [formGroup]="frmRegisterUser" (ngSubmit)="onUserOTP()">
                <div>
                  <div class="d-flex justify-content-center mb-3 custTransRadio">
                    <div class="custom-control custom-radio custom-control-inline">
                      <input type="radio" value="Customer" id="registerTypeCustomer_id" formControlName="UserType" class="custom-control-input">
                      <label class="custom-control-label" for="registerTypeCustomer_id">Customer</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                      <input type="radio" value="Owner" id="registerTypeTransporter_id" formControlName="UserType" class="custom-control-input" />
                      <label class="custom-control-label" for="registerTypeTransporter_id">Transporter / Agent</label>
                    </div>
                  </div>
                  <p class="onetimepswMsgSty">An <strong>OTP</strong> will be send to your mobile number</p>
                  <div class="form-group">
                    <div class="userNamAndPswF">
                      <input type="text" class="form-control" [disabled]="false" [ngClass]="{ 'is-invalid': frmRegisterUser.get('UserMobileNumber').touched && !frmRegisterUser.get('UserMobileNumber').valid }" formControlName="UserMobileNumber" placeholder="e.g. 1234567890" minlength=10 maxlength=10 />
                    </div>
                    <span class="help-block mb-2" *ngIf="!frmRegisterUser.get('UserMobileNumber').valid && frmRegisterUser.get('UserMobileNumber').touched">Enter valid mobile no.</span>
                  </div>

<div class="text-center pt-2 mb-1 d-flex justify-content-center align-items-center"><div>Already have an account?</div> <div><button type="button" class="btn btn-link" (click)="onGoToLogin()">Login</button></div></div>

                </div>
                <div *ngIf="isValidateOTP">
                  <div class="form-group">
                    <div class="userNamAndPswF">
                      <input type="text" class="form-control" formControlName="OTP" placeholder="Enter valid OTP" minlength=5 maxlength=5 />
                    </div>
                    <span class="help-block mb-2" *ngIf="!frmRegisterUser.get('OTP').valid && frmRegisterUser.get('OTP').touched">Enter valid OTP</span>
                  </div>
                  <div>
                    <div *ngIf="isValidateOTPregister" class="d-flex align-items-center justify-content-center justify-content-md-end flex-column flex-md-row">
                      <div>
                        <button type="button" class="btn btn-link" (click)="onResendOTPRegister()">Resend OTP</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngIf="isValidateOTPregister" class="d-flex align-items-center justify-content-center justify-content-md-end flex-column flex-md-row">
                  <div>
                    <button type="button" (click)="onResendOTPRegister()" class="btn btn-link">Resend OTP</button>
                  </div>
                </div>
                <div class="mt-2">
                  <button type="submit" class="btn btn-primary d-block btn-grad mx-auto">{{btnSubmitText}}</button>
                </div>
              </form>
            </div>
        </div>
    </div>
</div>
