<div class="dashboardPages">
<div class="dashbContentFlexH position-relative">
    <div class="bodyBgGradColor"></div>
    <div class="container-fluid">

        <div class="contentAreaBox">

            <div class="form-row align-items-center mb-2 minheight41Sty">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <h1 class="pageTitleSty">Booking</h1>
                </div>
            </div>

<ul class="nav nav-pills pl-3 pr-3 tabNavSty" id="pills-tab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="pills-self-tab" data-toggle="pill" href="#pills-self" role="tab" aria-controls="pills-self" aria-selected="true">Self</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-others-tab" data-toggle="pill" href="#pills-others" role="tab" aria-controls="pills-others" aria-selected="false">Others</a>
  </li>
</ul>
<div class="tab-content pl-3 pr-3 pt-3 pb-1 tabContentSty" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-self" role="tabpanel" aria-labelledby="pills-self-tab">

            <div class="form-row">
                <div class="col-sm-11 col-md-11 col-lg-11">
                    <div class="searchBoxSty mb-2">
                        <input type="text" placeholder="Search..">
                        <button type="button"><i class="fas fa-search"></i></button>
                    </div>
                </div>
                <div class="col-sm-1 col-md-1 col-lg-1">
                    <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#booking_id">Add</button>
                </div>
            </div>

<div class="detailsScrollBarV">
                <div class="cardSty availabelVehicleCardSty" [ngClass]="status ? 'open' : 'closeB'">

                    <div class="mainList">
                        <div class="d-flex d-flex justify-content-between align-items-center parentAL">
                            <div>
                                <div class="d-flex availabelVehicleFSty">
                                    <div class="lblSpanSty">
                                        <span class="ml-0">Pune to Kolhapur</span>
                                    </div>
                                    <div class="lblSpanSty">
                                        <label>Date: </label>
                                        <span>18/09/2019</span>
                                    </div>
                                    <div class="lblSpanSty">
                                        <label>Time: </label>
                                        <span>11:40 AM</span>
                                    </div>
                                    <div class="lblSpanSty">
                                        <span class="text-success">Still Travelling</span>
                                    </div>
                                    <div class="lblSpanSty">
                                        <span class="text-primary">Unload</span>
                                    </div>
                                </div>
                            </div>
                            <div>
                                        <div class="btnIconStyDetails">
                                            <div>
                                                <button type="button" class="btn btn-sm btn-outline-info mr-2"><i class="fas fa-pen"></i></button>
                                                <button type="button" class="btn btn-sm btn-outline-danger"><i class="fas fa-trash-alt"></i></button>
                                            </div>
                                        </div>
                            </div>
                        </div>

                    </div>

                </div>                
<nav aria-label="Page navigation mt-2">
    <div class="justify-content-center example d-flex align-items-baseline">
        <div class="mr-2">Total - 120</div>
        <ul class="pagination mb-0">
            <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active" aria-current="page"><a class="page-link" href="#">2 <span class="sr-only">(current)</span></a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </div>
</nav>
            </div>

  </div>
  <div class="tab-pane fade" id="pills-others" role="tabpanel" aria-labelledby="pills-others-tab">

            <div class="form-row">
                <div class="col-sm-11 col-md-11 col-lg-11">
                    <div class="searchBoxSty mb-2">
                        <input type="text" placeholder="Search..">
                        <button type="button"><i class="fas fa-search"></i></button>
                    </div>
                </div>
                <div class="col-sm-1 col-md-1 col-lg-1">
                    <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#booking_id">Add</button>
                </div>
            </div>

<div class="detailsScrollBarV">
                <div class="cardSty availabelVehicleCardSty" [ngClass]="status ? 'open' : 'closeB'">

                    <div class="mainList">
                        <div class="d-flex d-flex justify-content-between align-items-center parentAL">
                            <div>
                                <div class="d-flex availabelVehicleFSty">
                                    <div class="lblSpanSty">
                                        <span class="ml-0">Pune to Kolhapur</span>
                                    </div>
                                    <div class="lblSpanSty">
                                        <label>Date: </label>
                                        <span>18/09/2019</span>
                                    </div>
                                    <div class="lblSpanSty">
                                        <label>Time: </label>
                                        <span>11:40 AM</span>
                                    </div>
                                    <div class="lblSpanSty">
                                        <span class="text-success">Still Travelling</span>
                                    </div>
                                    <div class="lblSpanSty">
                                        <span class="text-primary">Unload</span>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="btnIconStyDetails">
                                    <div>
                                        <button type="button" class="btn btn-sm btn-outline-info mr-2"><i class="fas fa-pen"></i></button>
                                        <button type="button" class="btn btn-sm btn-outline-danger"><i class="fas fa-trash-alt"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                
<nav aria-label="Page navigation mt-2">
    <div class="justify-content-center example d-flex align-items-baseline">
        <div class="mr-2">Total - 120</div>
        <ul class="pagination mb-0">
            <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active" aria-current="page"><a class="page-link" href="#">2 <span class="sr-only">(current)</span></a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </div>
</nav>


  </div>
</div>
        </div>

    </div>
</div>

</div>
</div>

<!-- Modal -->
<div class="modal fade" data-backdrop="static" id="booking_id" tabindex="-1" role="dialog" aria-labelledby="booking_idTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="booking_idTitle">Booking</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
<div>
            <form>
                <div>

<div class="form-row">
    <div class="col-sm-12 col-md-4 col-lg-4">
        <div class="form-group">
            <label for="Name_id">Name</label>
            <input type="text" class="form-control" id="name_id" placeholder="name" />
        </div>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4">
        <div class="form-group">
            <label for="mobileNumber_id">Mobile Number</label>
            <input type="text" class="form-control" id="mobileNumber_id" placeholder="Mobile Number" />
        </div>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4">
        <div class="form-group">
            <label for="vehicleNumber_id">Vehicle Number</label>
            <input type="text" class="form-control" id="vehicleNumber_id" placeholder="Vehicle number" />
        </div>
    </div>
</div>

<div class="form-row">
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label for="bookingAV_id">Date</label>
                                <input type="text" class="form-control" id="bookingAV_id" placeholder="dd/mm/yyyy" />
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label for="timeAV_id">Time</label>
                                <input type="text" class="form-control" id="timeAV_id" placeholder="00:00 AM" />
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label for="fromAV_id">From</label>
                                <input type="text" class="form-control" id="fromAV_id" placeholder="Pune" />
                                <p class="text-left mt-1 mb-1 ml-1 text-info font-weight-bold">220KM</p>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label for="toAV_id">To</label>
                                <input type="text" class="form-control" id="toAV_id" placeholder="Kolhapur" />
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label for="modelNumber_id">Via</label>
                                <input type="text" class="form-control" id="via_id" placeholder="Via" />
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-3">
                            <div class="form-group">
                                <label for="availableLoad_id">Available Load</label>
                                <input type="text" class="form-control" id="availableLoad_id" value="4 Ton" />
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-3">
                            <div class="form-group">
                                <label for="occupiedLoad_id">Occupied Load</label>
                                <input type="text" class="form-control" id="occupiedLoad_id" value="3 Ton" />
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label>Load Status</label>
                                <div class="d-flex justify-content-start">
                                    <div class="form-group custom-control custom-radio my-1 mr-sm-4">
                                        <input type="radio" class="custom-control-input" name="lsFullPartial" id="lsFull_id">
                                        <label class="custom-control-label" for="lsFull_id">Full</label>
                                    </div>
                                    <div class="form-group custom-control custom-radio my-1 mr-sm-2">
                                        <input type="radio" class="custom-control-input" name="lsFullPartial" id="lsPartial_id">
                                        <label class="custom-control-label" for="lsPartial_id">Partial</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-3">
                            <div class="form-group">
                                <label for="availabelLoadTon_id">Load (Ton)</label>
                                <input type="text" class="form-control" id="availabelLoadTon_id" placeholder="Load (Ton)" />
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-3">
                            <div class="form-group">
                                <label for="eud_id">Expected Unloading Date</label>
                                <input type="text" class="form-control" id="eud_id" placeholder="Expected Unloading Date" />
                            </div>
                        </div>

                    </div>
<div class="form-row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="form-group">
            <label for="onGoingTrip_id">On Going Trip</label>
            <select class="form-control" id="onGoingTrip_id">
                <option>Select</option>
                <option>Trip 1</option>
                <option>Trip 2</option>
                <option>Trip 3</option>
            </select>
        </div>
    </div>
</div>
                    
<div class="form-row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="form-group">
            <label for="materialDescription">Material Description</label>
            <textarea class="form-control" id="materialDescription" rows="2"></textarea>
        </div>
    </div>
</div>

<div class="form-row">
    <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="form-group">
            <label for="driverMob_id">Driver Name - Mobile No.</label>
            <select class="form-control" id="driverMob_id">
                <option>Select</option>
                <option>Driver Name - Mobile No 1</option>
                <option>Driver Name - Mobile No 2</option>
                <option>Driver Name - Mobile No 3</option>
            </select>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="form-group">
            <label for="finalAmount_id">Final Amount</label>
            <input type="text" class="form-control" id="finalAmount_id" placeholder="15,000" />
        </div>
    </div>
</div>


                </div>
            </form>
        </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Book</button>
            </div>
        </div>
    </div>
</div>
